/* styles.css */

body {
    margin: 0;
}

/* background of the webpage */
#backgroundVideo {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -2;
    /* allows for overlapping */
}

/* setting up the header */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    position: fixed;
    top: 0;
    z-index: 9;
}

.leftHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 256px;
}

.logoImageContainer {
    display: flex;
    margin-right: 240px;
}

.logoImage {
    width: 550%;
    padding: 10px;
}

.rightHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.homePage,
.comic,
.movies,
.characters {
    font-size: 20px;
    text-decoration: none;
    /* gets rid of the underline*/
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    padding: 10px;
}

.homePage:after,
.comic:after,
.movies:after,
.characters:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(253, 253, 253));
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}

.homePage:hover:after,
.comic:hover:after,
.movies:hover:after,
.characters:hover:after {
    width: 100%;
}

.homePage:hover,
.comic:hover,
.movies:hover,
.characters:hover {
    text-shadow: 0 0 5px rgb(255, 0, 0);
}

/* first layer */
.layerOne {
    position: relative;
}

.layerOneContainer {
    width: 85%;
    height: 100%;
    border-radius: 25px;
    margin: 200px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.welcomeMessage {
    font-size: 50px;
    font-weight: 900;
    text-shadow: 0 0 10px white;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.description {
    color: white;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.freeTrailContainer {
    margin-top: 3px;
    border: 2px solid white;
    border-radius: 2em;
    width: 160px;
    height: 65px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    transition: 0.3s;
}

.freeTrail {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.freeTrailContainer:hover {
    transform: translateY(-5%);
    /* allows the container to hover up, along the y axis*/
    box-shadow: 0 0 10px white;
}

/* second layer */
.layerTwo {
    background-image: linear-gradient(rgb(99, 98, 98), rgb(135, 133, 133));
    margin-top: 300px;
}

.layerTwoContainer {
    padding-top: 20px;
}

.layerTwoHeading {
    font-size: 40px;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px white;
    margin: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.layerTwoPictures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.captainAmerica,
.blackWidow,
.thor,
.ironMan,
.hawkEye,
.hulk {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0px;
    padding: 60px;
}

.captainAmericaPic,
.blackWidowPic,
.thorPic,
.ironManPic,
.hawkEyePic,
.hulkPic {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border: 0.3em solid rgb(255, 255, 255);
    border-radius: 24px;
    box-shadow: 0 10px 30px black;
    transition: 0.3s;
}

.captainAmericaPic:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(220, 217, 217);
}

.blackWidowPic:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(255, 0, 0);
}

.thorPic:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(14, 130, 213);
}

.ironManPic:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(211, 198, 12);
}

.hawkEyePic:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(127, 2, 173);
}

.hulkPic:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(10, 182, 70);
}

.text {
    text-align: center;
    color: white;
    font-size: 28px;
    margin: 23px;
    font-family: 'Times New Roman', Times, serif;
}